<!DOCTYPE html>
<html>
<head>
    <title>EROAD Planning Poker</title>

        <link rel="stylesheet" type="text/css" href="css/poker.css">
            <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">


</head>
<body>
    <div id="header">
      <div class="container">
        <div class="navbar-header">
            <a href="/">
                <img src="img/header_logo.png" id="eroadLogoLoginImage" width="50" alt="EROAD">
            </a>
            <span id='title'>Planning Poker</span>
        </div>
      </div>
    </div>

    <h4>How rude!!! you were kicked out. </h4>
    <iframe src="//giphy.com/embed/fNXB5OuYmTgBy" width="480" height="309" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/breaking-bad-walter-white-bryan-cranston-fNXB5OuYmTgBy">via GIPHY</a></p>
</body>
</html>